<h1><%= @page_title %></h1>

<h2 style="background: <% if @door_open == 1 %>lightgreen<% else %>lightpink<% end %>">
  Der Keller ist
  <% if @door_open == 1 %>
    offen
  <% else %>
    geschlossen
  <% end %>
</h2>

<form method="post" name="form">
  <input name="message" size="140" />
  <button type="submit">Send</button>
</form>

<ul>
  <% @data.each do |d| %>
    <li style="background: <% if d['door_open'] == 1 %>lightgreen<% else %>lightpink<% end %>">
    <strong><%= d['timestamp'] %></strong>
    <%= d['source'] %>:
    <%= d['message'] %>
    </li>
  <% end %>
</ul>

