<h1><%= @page_title %></h1>

<h2 class="<% if @door_open.to_i == 1 %>open<% else %>closed<% end %>">
  Der Keller ist <span class="door-state">
  <% if @door_open.to_i == 1 %>
    offen
  <% else %>
    geschlossen
  <% end %>
  </span>
</h2>

<div id="newentryform">
  <form method="post" name="form">
    <input name="source" size="15" value="web" hidden />
    <input name="message" size="140" />
    <button type="submit">Send</button>
  </form>
</div>

<ul>
  <%
    @data.each do |d|
  %>
    <li class="<% if d['door_open'].to_i == 1 %>open<% else %>closed<% end %>">
    <span class="time"><%= d['timestamp'] %></span>
    <span class="source"><%= d['source'] %></span>
    <span class="message"><%= d['message'] %></span>
    </li>
  <% end %>
</ul>
