body {
    font-family: sans-serif;

    background: #999;
}

h1 {
    padding: 0;
    width: 700px;
    margin: 1.5em auto 0 auto;

    text-align: center;
}

h2 {
    padding: 0;
    width: 700px;
    margin: 0.5em auto 1em auto;

    text-align: center;
}

#newentryform {
    padding: 0;
    width: 700px;
    margin: 2em auto 0 auto;

    text-align: center;
}

#newentryform input {
    width: 400px;
}

h2.open .door-state {
    color: #090;
}

h2.closed .door-state {
    color: #900;
}

ul {
    padding: 0;
    width: 700px;
    margin: 2em auto 0 auto;
}

li {
    list-style: none;
    text-indent: 0px;

    margin-top: 0.5em;
    min-height: 2em;

    position: relative;
    border: 3px solid;
    border-radius: 8px;
    background: #fff;
    color: #111;

    overflow: hidden;
}

li.open { border-color: #696; }
li.closed { border-color: #966; }

.source {
    display: block;
    position: absolute;
    width: 40px;
    text-align: center;
    vertical-align: bottom;
    padding-top: 0.7em;
    padding-left: 0.15em;
    padding-right: 0.1em;
    border-right: 1px solid;
    height: 100%;

    font-size: 75%;

    background-color: grey;
}

li.open .source { background: #9f9; border-color: #9c9; }
li.closed .source { background: #f99; border-color: #c99; }

.time {
    display: block;
    position: absolute;
    top: 0.4em;
    left: 50px;
    vertical-align: bottom;

    font-family: monospace;
    font-size: 75%;
    color: #666;
}

.message {
    display: block;

    margin-left: 50px;
    margin-top: 1.2em;
    margin-bottom: 0.3em;
}