body {
    font-family: sans-serif;

    background: #999 url(bright_squares.png);

    margin: 0;
    padding: 0;
}

header {
  background: #fff;
  width: 700px;
  margin: 0 auto;

  display: table;

  border-radius: 0 0 8px 8px;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .4);
}

header h1 {
    padding: .5em;
    margin: 0;
    display: table-cell;
}

header h1 img {
  display: block;
}

header h2 {
    border-radius: 0 0 8px 0;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    width: 200px;
    margin: 0.5em auto 1em auto;

    text-align: center;

    display: table-cell;
    vertical-align: middle;
}

header h2.open {
    background: lightgreen;
}

header h2.closed {
    background: lightpink;
}

h2 .duration {
    margin: 0.5em;
}

h2 .duration span {
    background: #000;
    color: #fff;
    padding: 0.3em;
    border-radius: 0.2em;
}

#newentryform {
    padding: 0;
    width: 700px;
    margin: 2em auto 0 auto;

    text-align: center;
}

#newentryform input {
    width: 400px;
    height: 28px;
    padding: 0 0.5em;
    border-radius: 10px 0 0 10px;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    border-color: #aaa;

}

#newentryform button {
    border-radius: 0 10px 10px 0;
    border-style: solid;
    border-width: 2px 2px 2px 0;
    border-color: #aaa;
    margin: 0;
    vertical-align: top;
    margin-left: -1px;
    height: 32px;
}

h2.open .door-state {
    color: #090;
}

h2.closed .door-state {
    color: #900;
}

ul {
    padding: 0;
    width: 700px;
    margin: 2em auto 0 auto;
}

li {
    list-style: none;
    text-indent: 0px;

    color: #111;
}

li.status.open {
  background: lightgreen;
}

li.status.closed {
  background: lightpink;
}

li.status {
  text-align: center;
  font-weight: bold;

  font-size: 1em;
  margin: 0 auto;
  padding: 0.5em 0;

  background: #fff;

  color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.time {
  float: right;
  font-size: 0.7em;
  margin-top: 0.25em;
  padding-right: 0.5em;
  color: rgba(0, 0, 0, 0.3);
}

li.status .time {
  display: block;
  float: none;
  font-size: 0.8em;
}

.message {
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.8);
  border-width: 4pt 4pt 0;
  border-style: solid;

  color: #555;

  box-shadow: inset 0pt -0.5pt 0.5em rgba(0, 0, 0, 0.2);

  -webkit-transition: background 0.5s;
}

.message:hover {
  background: lightyellow;
}

ul li:first-child {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.message + .message {
  border-top: 1pt solid rgba(0, 0, 0, 0.1);
}

.message.open {
  border-color: lightgreen;
}

.message.closed {
  border-color: lightpink;
}

.status + .status,
.status + .message {
  margin-top: 2em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}


footer {
  width: 700px;
  padding-top: 2em;
  margin: 0 auto;
  text-align: right;
  color: #888;
}

a {
  text-decoration: none;
  color: #339;
}

